<h2>Enter a burger to add to the waiting area</h2>
<form>
 <label for="nameField">Burger Name:</label> &nbsp;
 <input id="nameField"> &nbsp;
 <input type="submit" value="Add Burger">
</form <br>

<div class="row">
 <div class="col-12 col-md-6">

  <h3>Burgers To Devour</h3>
  {{#each burgers}}
  {{#unless devoured}}
  <div class="p-2 w-100 rounded">
   <button class="devour-btn btn-danger w-75 text-left" data-id={{id}}>
    <i class="text-white fas fa-hamburger fa-2x"></i>
    Devour {{name}}!
   </button>
  </div>
  {{/unless}}
  {{/each}}
 </div>

 <div class="col-12 col-md-6">
  <h3>Devoured Burgers</h3>
  {{#each burgers}}
  {{#if devoured}}
  <div class="p-2 w-100 rounded">
   <button class="btn-success w-75 text-left" disabled>
    <i class="text-white fas fa-hamburger fa-2x"></i>
    {{name}}
   </button>
  </div>
  {{/if}}
  {{/each}}
 </div>
</div>